::selection {
	background-color: #E13300;
	color: white;
}

::-moz-selection {
	background-color: #E13300;
	color: white;
}

/*footer*/
footer {
	background-color: rgba(62, 62, 62, 1);
	color: rgba(200, 200, 200, 1);
	padding: 10px 0px 25px 0px;
}

footer p {
	font-size: 13px;
	color: #CCC;
}

.bg-defult {
	background-color: #e9ecef !important;
	color: #444;
}

.bg-mdl-add {
	background-color: #0099CC !important;
	color: #fff;
}

.bg-mdl-del {
	background-color: #A21A20 !important;
	color: #fff;
}

/*para la lista de archivos seleccionados de file inputs*/
.custom-file-label {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

/*pagination*/
.pagination {
	margin-top: 30px;
	border-top: 3px solid #ddd;
	text-align: center;
	position: relative;
	color: #777;
	list-style: none;
	border-radius: 0rem;
}

.page-link {
	display: inline-block;
	border: 0px;
	border-top: 0px solid #ddd;
	padding: 15px 15px 15px;
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
	background-color: #fff;
}

.page-link:hover {
	margin-top: -3px;
	border-top: 3px solid;
	border-top-color: #0093C2;
	color: #0093C2;
	background-color: #fff;
}

/*.page-link:focus {
	z-index: 1;
	background-color: #fff;
	margin-top: -3px;
	border-top: 3px solid #0093C2;
	color: #444;
	border-top-color: #0093C2;
}*/

.page-item:last-child .page-link:hover {
	color: #0093C2;
	background-color: #fff;
}

.page-link:focus {
	margin-top: -3px;
	z-index: 1;
	border-top: 3px solid #0093C2;
	color: #444;
	border-top-color: #0093C2;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	color:#444;
	margin-top: -3px;
	border-top: 3px solid #ddd;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
	color: #444;
	border-top-color: #444;
	border-top: 3px solid #ddd;
	padding: 15px 10px 10px;
	margin-top: -3px;
}

.page-item.active .page-link {
	z-index: 1;
	background-color: #fff;
	margin-top: -3px;
	border-top: 3px solid #444;
	color: #444;
	border-top-color: #444;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
	display:inline-block;
	margin-top: -3px;
	border-top: 3px solid #ddd;
}

.pagination-lg .page-link {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem;
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem;
}

.pagination-sm .page-link {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem;
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem;
}

.page-item .page-link:focus {
	outline: none;
	box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.25);
}
/* /pagination */

/*for form search official for all search table reorder*/
.form-control-borderless {
	border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

.badge-labeled {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.2rem;
}

.badge-labeled i {
	padding: 0.25em  0.3rem;
	cursor: pointer;
	position: relative;
	display: inline-block;
	right: -0.2em;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.2);
	border-left: solid 1px rgba(255, 255, 255, .5);
	border-radius: 0 0.25rem 0.25rem 0;
}

.bias-input-group .input-group-addon + .input-group-btn > .btn {
	border-radius: 0;
}

.bias-input-group .input-group-addon + .input-group-btn + .input-group-addon {
	border-right: 0;
	border-left: 0;
}

.input-group>.txt-search-nv:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: 2px;
	box-shadow: none;
}

.input-group .txt-search-mdl {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #ced4da;
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-right: 0px !important;
}

.btn-search-nav-search-nav:hover {
	color: none;
	background-color: transparent;
	border-color: #007bff
}

.btn-search-nav-search-nav.focus, .btn-search-nav-search-nav:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5);
}

.btn-search-nav-search-nav.disabled, .btn-search-nav-search-nav:disabled {
	color: none;
	background-color: transparent;
}

.btn-search-nav-search-nav:not(:disabled):not(.disabled).active, .btn-search-nav-search-nav:not(:disabled):not(.disabled):active, .show>.btn-search-nav-search-nav.dropdown-toggle {
	color: none;
	background-color: none;
	border-color: transparent;
}

.btn-search-nav-frm-search-nav {
	border-radius: 100px;
	border-radius: 5px;
	color: #611529;
}

.btn-search-nav {
	color: none;
	border: 1px solid #ced4da;
	border-left: 0px;
}

.input-group>.input-group-append>.btn-search-nav, .input-group>.input-group-prepend:first-child>.btn-search-nav:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn-search-nav {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group .input-group-prepend .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group .input-group-prepend .form-select {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group .input-group-prepend .btn >.input-group .input-group-prepend .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*for form search official for all search table reorder*/

/*para los checbox de seleccionar de una tabla*/

/*Checkbox para seleccionar elementos a eliminar de lista de elementos*/
.checkbox {
	padding-left: 20px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	color: #000;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin-top: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 2px;
	padding-top: 3px;
	font-size: 13px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'Font Awesome 5 Pro';
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
	color: #fff;
}

.checkbox label {
	padding-bottom: 10px;
}

/*para los checbox de seleccionar de una tabla*/

/*feed loading css*/
@-webkit-keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}

	100% {
		background-position: 468px 0
	}

}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}

	100% {
		background-position: 468px 0
	}

}

.timeline-wrapper {
	background-color: #e9eaed;
	color: #141823;
	padding: 20px;
	border: 1px solid #ccc;
}

.timeline-item {
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
	padding: 5px;
	margin: 0 auto;
	max-width: 100%;
	min-height: 20%;
}

.animated-background {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	-webkit-background-size: 80% 10%;
	background-size: 80% 10%;
	height: 96px;
	position: relative;
}

.background-masker {
	background: #fff;
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.outlined .background-masker {
	border: 1px solid #ddd;
}

.outlined:hover .background-masker {
	border: none;
}

.outlined:hover .background-masker:hover {
	border: 1px solid #ccc;
	z-index: 1;
}

.background-masker.header-top, .background-masker.header-bottom, .background-masker.subheader-bottom {
	top: 0;
	left: 40px;
	right: 0;
	height: 10px;
}

.background-masker.header-left, .background-masker.subheader-left, .background-masker.header-right, .background-masker.subheader-right {
	top: 10px;
	left: 40px;
	height: 8px;
	width: 10px;
}

.background-masker.header-bottom {
	top: 18px;
	height: 6px;
}

.background-masker.subheader-left, .background-masker.subheader-right {
	top: 24px;
	height: 6px;
}

.background-masker.header-right, .background-masker.subheader-right {
	width: auto;
	left: 300px;
	right: 0;
}

.background-masker.subheader-right {
	left: 230px;
}

.background-masker.subheader-bottom {
	top: 30px;
	height: 10px;
}

.background-masker.content-top, .background-masker.content-second-line, .background-masker.content-third-line, .background-masker.content-second-end, .background-masker.content-third-end, .background-masker.content-first-end {
	top: 40px;
	left: 0;
	right: 0;
	height: 6px;
}

.background-masker.content-top {
	height: 20px;
}

.background-masker.content-first-end, .background-masker.content-second-end, .background-masker.content-third-end {
	width: auto;
	left: 380px;
	right: 0;
	top: 60px;
	height: 8px;
}

.background-masker.content-second-line {
	top: 68px;
}

.background-masker.content-second-end {
	left: 420px;
	top: 74px;
}

.background-masker.content-third-line {
	top: 82px;
}

.background-masker.content-third-end {
	left: 300px;
	top: 88px;
}

/*para feed loading*/

/*for table over checkbox*/
.tbl-chk input[type="checkbox"] {
	display: none;
}

.tbl-chk tr:hover input[type="checkbox"] {
	display: block;
}

.tbl-chk input[type="checkbox"]:checked {
	display: block;
}

.row-link th.th-link:hover {
	cursor: pointer;
	color: #0069d9;
}

.label {
	border-radius: 4px;
	text-shadow: none;
	font-size: 10px;
	font-weight: normal;
	padding: 1px 3px 1px 3px;
	background-color: #abbac3 !important;
	color: #fff;
}

.label[class*="span"][class*="arrow"] {
	min-height: 0;
}

.label-primary {
	background-color: #0976b4 !important;
}

.label-success {
	background-color: #0976b4 !important;
}

.label-danger {
	background-color: #cc2127 !important;
}

.label-danger {
	background-color: #cc2127 !important;
}

.quick-btn .spn-total {
	position: absolute;
	margin-top: -25px;
}

.input-group>.txt-search-nv:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-right: 1px;
	border-left: 1px solid #6c757d !important;
}

.txt-search-nv:focus {
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.0rem rgba(0, 123, 255, 0.25);
}

/*Form input float label*/
.has-float-label {
	position: relative;
	width: 100%;
}

.has-float-label label {
	position: absolute;
	left: 0;
	top: 0;
	cursor: text;
	font-size: 75%;
	opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
	top: -.5em;
	left: 12px;
	z-index: 3;
	line-height: 1;
	padding: 0 1px;
}

.has-float-label label::after {
	content: " ";
	display: block;
	position: absolute;
	background: white;
	height: 2px;
	top: 50%;
	left: -.2em;
	right: -.2em;
	z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder {
	opacity: 1;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
	opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + label {
	opacity: .5;
	top: .45em;
	font-weight: normal;
}

.input-group .has-float-label {
	display: table-cell;
}

.input-group .has-float-label .form-control {
	border-radius: 4px;
}

.input-group .has-float-label:not(:last-child) .form-control {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group .has-float-label:not(:first-child) .form-control {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: -1px;
}

.has-float-label input:focus, .has-float-label textarea:focus, .has-float-label select:focus {
	border-color: #0d47a1;
	box-shadow: none;
}

.has-float-label .form-control:placeholder-shown:not(:focus) + * {
	font-size: 100%;
	margin-top: 4px;
}

/*.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
color: #777;
}*/

/*.form-control-feedback {
position: absolute;
top: 0;
right: 0;
z-index: 2;
display: block;
width: 34px;
height: 34px;
line-height: 34px;
text-align: center;
pointer-events: none;
}*/

/*.form-control-feedback {
position: absolute;
top: 0;
right: 0;
z-index: 2;
display: block;
width: 34px;
height: 34px;
line-height: 34px;
text-align: center;
pointer-events: none;
}*/

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3989;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: auto;
}

fieldset {
	border: 1px solid #ddd !important;
	padding: 5px;
	border-radius: 4px;
	background-color: #FFF;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 0px;
	min-width: 5%;
	width: auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 2px 10px 2px 10px;
	background-color: #ffffff;
}

fieldset legend {
	margin: 0 auto !important;
}

/*Form input float label*/
.spin-x {
	width: 1rem;
	height: 1rem;
	border-width: 0.1em;
}

.spin-1x {
	width: 1.2rem;
	height: 1.2rem;
	border-width: 0.1em;
}

.spin-2x {
	width: 2rem;
	height: 2rem;
	border-width: 0.1em;
}

.spin-3x {
	width: 3rem;
	height: 3rem;
	border-width: 0.1em;
}

.w-5 {
	width: 5% !important;
}

.w-8 {
	width: 8% !important;
}

.w-10 {
	width: 10% !important;
}

.w-15 {
	width: 15% !important;
}

.w-20 {
	width: 20% !important;
}

.w-30 {
	width: 30% !important;
}

.w-35 {
	width: 30% !important;
}

.w-40 {
	width: 30% !important;
}

.w-60 {
	width: 30% !important;
}

.w-80 {
	width: 30% !important;
}

.w-90 {
	width: 30% !important;
}

.imgHolder {
	position: relative;
}

.fit-image {
	width: 100%;
	object-fit: cover;
	height: 80px;
}

/*panel navbar clickeable derecha*/
.desplegable div.desplegable-menu {
	border-radius: 4px;
	box-shadow: none;
	margin-top: 10px;
	padding: 10px 0px 10px 0px;
}

.desplegable div.desplegable-menu:before {
	content: "";
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	right: 16px;
	z-index: 10;
}

.desplegable div.desplegable-menu:after {
	content: "";
	border-bottom: 12px solid #ccc;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -12px;
	right: 14px;
	z-index: 9;
}

.desplegable-left div.desplegable-menu-left {
	border-radius: 4px;
	box-shadow: none;
	margin-top: 10px;
	padding: 10px 0px 10px 0px;
}

.desplegable-left div.desplegable-menu-left:before {
	content: "";
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	left: 16px;
	z-index: 10;
}

.desplegable-left div.desplegable-menu-left:after {
	content: "";
	border-bottom: 12px solid #ccc;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -12px;
	left: 14px;
	z-index: 9;
}

/*/menu desplegable*/
.input-group-prepend .form-control {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: none;
}

.post-image {
	height: 190px;
	width: 100%;
	border: 1px solid black;
	overflow: hidden;
}

.post-image img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	object-fit: cover;
}

.post-image img:hover {
	transform: scale(1.3);
	transform-origin: 50% 50%;
	transition: transform .4s;
}

.post-image .sticky-tag {
	display: none;
}

.text-red {
	color: #0d47a1 !important;
}

/*.main-section{
margin:0 auto;
padding: 20px;
margin-top: 100px;
background-color: #fff;
box-shadow: 0px 0px 20px #c1c1c1;
}*/

/*.fileinput-remove,
.fileinput-upload{
display: none;
}*/

.notify-bootstrap {
	padding: 0.5rem 0.5rem !important;
}

.notify-bootstrap .btn-close {
	font-size: 0.8rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 0.8rem 0.5rem;
}

.div-menu {
	width: 190px;
}

/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn:active, .btn:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary:focus, .form-control:focus, .btn-success:focus {
box-shadow: none;
border-color: #aaa;
}*/
.btn-close-nav {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: 0.25em 0.25em;
	color: #fff;
	background: transparent url("data:image/svg+xml,%3csvg xmlns=!string!viewBox=!string!fill=!string!%3e%3cpath d=!string!/%3e%3c/svg%3e") center/1em auto no-repeat;
	border: 0;
	border-radius: 0.25rem;
	opacity: 0.5;
}

.btn-close-nav:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.75;
}

.btn-close-nav:focus {
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	opacity: 1;
}

.btn-close-nav:disabled, .btn-close-nav.disabled {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	opacity: 0.25;
}

.bd-links .btn, .bd-links .btn:hover, .bd-links .btn:focus, .bd-links .btn:active {
	outline: none !important;
	border: 0px solid none !important;
	box-shadow: none !important;
	border-color: none !important;
}

.bd-links .btn::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns=!string!width=!string!height=!string!viewBox=!string!%3e%3cpath fill=!string!stroke=!string!stroke-linecap=!string!stroke-linejoin=!string!stroke-width=!string!d=!string!/%3e%3c/svg%3e");
	transition: transform 0.35s ease;
	transform-origin: 0.5em 50%;
}

.bd-links .btn[aria-expanded='http://www.w3.org/2000/svg'] {
	color: rgba(0, 0, 0, 0.85);
}

.bd-links .btn[aria-expanded='16']::before {
	transform: rotate(90deg);
}

.spin-x {
	width: 1rem;
	height: 1rem;
	border-width: 0.1em;
}

.spin-1x {
	width: 1.2rem;
	height: 1.2rem;
	border-width: 0.1em;
}

.spin-2x {
	width: 2rem;
	height: 2rem;
	border-width: 0.1em;
}

.spin-3x {
	width: 3rem;
	height: 3rem;
	border-width: 0.1em;
}

.alert span {
	margin-top: -1%;
}

/**
 * ckeditor
 */
:root {
	--ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
	--ck-color-mention-text: hsl(341, 100%, 30%);
	--ck-highlight-marker-blue: hsl(201, 97%, 72%);
	--ck-highlight-marker-green: hsl(120, 93%, 68%);
	--ck-highlight-marker-pink: hsl(345, 96%, 73%);
	--ck-highlight-marker-yellow: hsl(60, 97%, 73%);
	--ck-highlight-pen-green: hsl(112, 100%, 27%);
	--ck-highlight-pen-red: hsl(0, 85%, 49%);
	--ck-image-style-spacing: 1.5em;
	--ck-todo-list-checkmark-size: 16px;
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-yellow {
	background-color: var(--ck-highlight-marker-yellow);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-green {
	background-color: var(--ck-highlight-marker-green);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-pink {
	background-color: var(--ck-highlight-marker-pink);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-blue {
	background-color: var(--ck-highlight-marker-blue);
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-red {
	color: var(--ck-highlight-pen-red);
	background-color: transparent;
}

/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-green {
	color: var(--ck-highlight-pen-green);
	background-color: transparent;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-tiny {
	font-size: .7em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-small {
	font-size: .85em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-big {
	font-size: 1.4em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-huge {
	font-size: 1.8em;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
	float: right;
	margin-left: var(--ck-image-style-spacing);
	max-width: 50%;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
	float: left;
	margin-right: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
	margin-left: auto;
	margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
	float: right;
	margin-left: var(--ck-image-style-spacing);
}

/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre {
	padding: 1em;
	color: hsl(0, 0%, 20.8%);
	background: hsla(0, 0%, 78%, 0.3);
	border: 1px solid hsl(0, 0%, 77%);
	border-radius: 2px;
	text-align: left;
	direction: ltr;
	tab-size: 4;
	white-space: pre-wrap;
	font-style: normal;
	min-width: 200px;
}

/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre code {
	background: unset;
	padding: 0;
	border-radius: 0;
}

/* ckeditor5-html-embed/theme/htmlembed.css */
.ck-content .raw-html-embed {
	margin: 1em auto;
	min-width: 15em;
	font-style: normal;
}

/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
	margin: 15px 0;
	height: 4px;
	background: hsl(0, 0%, 87%);
	border: 0;
}

/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
	display: table-caption;
	caption-side: bottom;
	word-break: break-word;
	color: hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 97%);
	padding: .6em;
	font-size: .75em;
	outline-offset: -1px;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
	max-width: 100%;
	display: block;
	box-sizing: border-box;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
	width: 100%;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
	display: block;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image {
	display: table;
	clear: both;
	text-align: center;
	margin: 1em auto;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	min-width: 50px;
}

/* ckeditor5-language/theme/language.css */
.ck-content span[lang] {
	font-style: italic;
}

/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
	background-color: hsla(0, 0%, 78%, 0.3);
	padding: .15em;
	border-radius: 2px;
}

/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
	overflow: hidden;
	padding-right: 1.5em;
	padding-left: 1.5em;
	margin-left: 0;
	margin-right: 0;
	font-style: italic;
	border-left: solid 5px hsl(0, 0%, 80%);
}

/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir='16'] blockquote {
	border-left: 0;
	border-right: solid 5px hsl(0, 0%, 80%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table {
	margin: 1em auto;
	display: table;
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	border: 1px double hsl(0, 0%, 70%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table td, .ck-content .table table th {
	min-width: 2em;
	padding: .4em;
	border: 1px solid hsl(0, 0%, 75%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
	font-weight: bold;
	background: hsla(0, 0%, 0%, 5%);
}

/* ckeditor5-table/theme/table.css */
.ck-content[dir='0 0 16 16'] .table th {
	text-align: right;
}

/* ckeditor5-table/theme/table.css */
.ck-content[dir='none'] .table th {
	text-align: left;
}

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
	position: relative;
	clear: both;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
	content: 'rgba%280,0,0,.5%29';
	position: absolute;
	border-bottom: 2px dashed hsl(0, 0%, 77%);
	width: 100%;
}

/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
	position: relative;
	z-index: 1;
	padding: .3em .6em;
	display: block;
	text-transform: uppercase;
	border: 1px solid hsl(0, 0%, 77%);
	border-radius: 2px;
	font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
	font-size: 0.75em;
	font-weight: bold;
	color: hsl(0, 0%, 20%);
	background: hsl(0, 0%, 100%);
	box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
	clear: both;
	margin: 1em 0;
	display: block;
	min-width: 15em;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
	list-style: none;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
	margin-bottom: 5px;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
	margin-top: 5px;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	width: var(--ck-todo-list-checkmark-size);
	height: var(--ck-todo-list-checkmark-size);
	vertical-align: middle;
	border: 0;
	left: -25px;
	margin-right: -15px;
	right: 0;
	margin-left: 0;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
	display: block;
	position: absolute;
	box-sizing: border-box;
	content: 'round';
	width: 100%;
	height: 100%;
	border: 1px solid hsl(0, 0%, 20%);
	border-radius: 2px;
	transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
	display: block;
	position: absolute;
	box-sizing: content-box;
	pointer-events: none;
	content: 'round';
	left: calc(var(--ck-todo-list-checkmark-size) / 3);
	top: calc(var(--ck-todo-list-checkmark-size) / 5.3);
	width: calc(var(--ck-todo-list-checkmark-size) / 5.3);
	height: calc(var(--ck-todo-list-checkmark-size) / 2.6);
	border-style: solid;
	border-color: transparent;
	border-width: 0 calc(var(--ck-todo-list-checkmark-size) / 8) calc(var(--ck-todo-list-checkmark-size) / 8) 0;
	transform: rotate(45deg);
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
	background: hsl(126, 64%, 41%);
	border-color: hsl(126, 64%, 41%);
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
	border-color: hsl(0, 0%, 100%);
}

/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
	vertical-align: middle;
}

/* ckeditor5-mention/theme/mention.css */
.ck-content .mention {
	background: var(--ck-color-mention-background);
	color: var(--ck-color-mention-text);
}

@media print {

	/* ckeditor5-page-break/theme/pagebreak.css */
	.ck-content .page-break {
		padding: 0;
	}

	/* ckeditor5-page-break/theme/pagebreak.css */
	.ck-content .page-break::after {
		display: none;
	}

}

.desglose .fa {
	transition: .3s transform ease-in-out;
}

.desglose .collapsed .fa {
	transform: rotate(-90deg);
}

.something-else .fa {
	transition: .3s transform ease-in-out;
}

.something-else .collapsed .fa {
	transform: rotate(-180deg);
}

.list .fa {
	transition: .3s transform ease-in-out;
}

.list .collapsed .fa {
	transform: rotate(-90deg);
}

.desglose .fa {
	transition: .3s transform ease-in-out;
}

.desglose .collapsed .fa {
	transform: rotate(-90deg);
}

.list-desglose .fa {
	transition: .3s transform ease-in-out;
}

.list-desglose .collapsed .fa {
	transform: rotate(-90deg);
}

.desglose .bi {
	transition: .3s transform ease-in-out;
}

.desglose .collapsed .bi {
	transform: rotate(-90deg);
}

.list-desglose .bi {
	transition: .3s transform ease-in-out;
}

.list-desglose .collapsed .bi {
	transform: rotate(-90deg);
}