/*Inicia navbar*/
.main-header {
	z-index: 3923;
	overflow-x: hidden;
}

.SidebarNav {
	position: fixed;
	z-index: 16938;
	top: 0px;
	left: -260px;
	width: 300px;
	height: 100%;
	padding-bottom: 2em;
	background: white;
	font-size: 14px;
	font-weight: lighter;
	color: #3a3a3a;
	overflow: scroll;
	-webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.25);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	overflow-x: hidden;
	overflow-y: auto;
}

.SidebarNav section {
	padding: 1em 0;
}

.SidebarNav ul {
	padding-inline-start: 25px;
}

.SidebarNav ul {
	line-height: 1.5;
	margin: 0;	/*list-style: none;*/
}

.list-styled ul {
	line-height: 1.5;
	margin: 0;
	list-style: square !important;
}

.SidebarNav a {
	color: #3a3a3a;
}

.SidebarNav.u-open {
	left: 0px;
	visibility: visible;
	z-index: 39393;
}

.SidebarNav.u-open+.SidebarNav_lightbox {
	visibility: visible;
}

.SidebarNav .sp-logo {
	height: 27px;
	font-size: 18px;
	line-height: 1;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	border: none;
	fill: #3a3a3a;
}

.SidebarNav .sp-logo rect {
	fill: #3a3a3a;
}

.SidebarNav .sp-logo .u-fill {
	fill: white;
}

.SidebarNav_header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em 0;
}

.SidebarNav_header a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.5em 1.5em 0;
	width: 100%;
}

.SidebarNav_header .SidebarNav_icon {
	font-size: 32px;
	color: #3a3a3a;
	font-weight: normal;
	width: 25px;
}

.SidebarNav_search {
	width: 100%;
	padding: 0 1.5em 0.5em;
	margin-top: 2em;
}

.SidebarNav_search form {
	position: relative;
	margin: 0;
}

.SidebarNav_search input {
	padding: 0 0 0 2.5em;
	margin: 0;
	border-radius: 2em;
	background: #efefef;
	-webkit-appearance: none;
}

.SidebarNav_search button {
	position: absolute;
	background: transparent;
	color: #3a3a3a;
	top: 15px;
	left: 1em;
	padding: 0;
}

.SidebarNav_search button .fa {
	line-height: 3;
}

.SidebarNav_title {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	line-height: .5rem;
}

.SidebarNav_topics .fa {
	font-size: 10px;
}

.SidebarNav_topics a {
	vertical-align: middle;
}

.SidebarNav_link {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.25em 0.2em;
}

.SidebarNav_link.u-active {
	font-weight: bold;
}

.SidebarNav_link a {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.SidebarNav_link.no-link * {
	pointer-events: none;
}

@media (min-width:936px) {
	.SidebarNav_link:hover:not(.no-link) {
		background: #b9e8ea;
		font-weight: bold;
	}

	.SidebarNav_link:hover:not(.no-link):not(.SidebarNav_channelLink) .fa {
		color: #3a3a3a;
	}

	.SidebarNav_link:hover:not(.no-link).u-html-css, .SidebarNav_link:hover:not(.no-link).u-html, .SidebarNav_link:hover:not(.no-link).u-css {
		background: #F4AF65;
	}

	.SidebarNav_link:hover:not(.no-link).u-javascript {
		background: #FFD78F;
	}

	.SidebarNav_link:hover:not(.no-link).u-php {
		background: #9494B7;
	}

	.SidebarNav_link:hover:not(.no-link).u-ruby {
		background: #f1897c;
	}

	.SidebarNav_link:hover:not(.no-link).u-mobile {
		background: #6B899D;
	}

	.SidebarNav_link:hover:not(.no-link).u-design-ux, .SidebarNav_link:hover:not(.no-link).u-ux, .SidebarNav_link:hover:not(.no-link).u-design {
		background: #C3E9DB;
	}

	.SidebarNav_link:hover:not(.no-link).u-entrepreneur {
		background: #77D2E4;
	}

	.SidebarNav_link:hover:not(.no-link).u-web {
		background: #60B4D7;
	}

	.SidebarNav_link:hover:not(.no-link).u-wordpress {
		background: #BCDBE6;
	}

	.SidebarNav_link:hover:not(.no-link).u-java {
		background: #d1a7ff;
	}

	.SidebarNav_link:hover:not(.no-link).u-woorank {
		background: #78b7ed;
	}

	.SidebarNav_link:hover:not(.no-link).u-developer-center {
		background: #B5DDFA;
	}

	.SidebarNav_link:hover:not(.no-link) svg g {
		fill: #3a3a3a;
	}

}

.SidebarNav_icon {
	width: 1.5em;
	padding-right: 0.5em;
	color: #a2a2a2;
	text-align: center;
}

.SidebarNav_icon.u-html-css, .SidebarNav_icon.u-html, .SidebarNav_icon.u-css {
	color: #EF8D24;
}

.SidebarNav_icon.u-javascript {
	color: #F6B33C;
}

.SidebarNav_icon.u-php {
	color: #666699;
}

.SidebarNav_icon.u-ruby {
	color: #eb5745;
}

.SidebarNav_icon.u-mobile {
	color: #2C5773;
}

.SidebarNav_icon.u-design-ux, .SidebarNav_icon.u-ux, .SidebarNav_icon.u-design {
	color: #3CBC8D;
}

.SidebarNav_icon.u-entrepreneur {
	color: #3DBFD9;
}

.SidebarNav_icon.u-web {
	color: #1C94C6;
}

.SidebarNav_icon.u-wordpress {
	color: #248AAF;
}

.SidebarNav_icon.u-java {
	color: #8e4cd9;
}

.SidebarNav_icon.u-woorank {
	color: #428bca;
}

.SidebarNav_icon.u-developer-center {
	color: #0A91F0;
}

.SidebarNav_icon svg {
	height: 14px;
	vertical-align: middle;
}

.SidebarNav_social ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.SidebarNav_socialLink {
	display: inline-block;
	width: 80px;
	line-height: 1.2;
	text-align: center;
	font-size: 12px;
}

.SidebarNav_socialIcon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	font-size: 24px;
	border-radius: 50%;
	color: white;
	margin-bottom: 0.25em;
	background: #a2a2a2;
}

.SidebarNav_socialIcon.u-newsletter {
	background: #3ec9cb;
}

.SidebarNav_socialIcon.u-twitter {
	background: #55acee;
}

.SidebarNav_socialIcon.u-facebook {
	background: #1d5ac7;
}

.SidebarNav_lightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 15;
	background: black;
	opacity: 0.5;
	visibility: hidden;
}

.l-ml3 {
	padding-left: 50px;
}

.nom-sec {
	display: block;
	margin: 10px 0;
	padding: 5px 20px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #ddd;
	color: #043342;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-sec-mob{
	display: block;
}

.sec-select {
	color:#0d47a1 !important;
	font-weight: 600;
}

.SidebarNav .nav-link {
	font-weight: 500;
	color: #333;
}
/*finaliza navbar*/